body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}
#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333333;
    z-index:0;
}

#buttons{
    position: absolute;
    bottom: 3%;
    height: inherit;
    z-index: 1;
    /*border: dotted gray 1px;*/
    left: 1%;
}

#comparison{
    position: absolute;
    bottom: 3%;
    height: inherit;
    z-index: 1;
    /*border: dotted gray 1px;*/
    left: 90%;
}

#comparison-input{
    background: white;
}

#info {
    color: #c88;
    font-size: 1em;
    position: absolute;
    z-index: -1;
    left: 1em;
    top: 1em;
}


#showEdges{
    position: absolute;
    top: 1%;
    height: inherit;
    z-index: 1;
    /*border: dotted gray 1px;*/
    left: 2%;
}